body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.navbar .logo {
    height: 60px;
    margin-right: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .extra-image {
    height: 40px;
    margin-left: 20px;
}

.novidades {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
}

.image-gallery {
    display: flex;
    justify-content: center; 
    margin-top: 25px; 
}

.image-gallery img {
    margin: 0 25px; 
    height: 250px; 
    width: 250px; 
}